{%load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    </head>
    <body>
        <header class="container-fluid">
                <nav id="nav-header" class="d-flex justify-content-center">
                    {% if request.user.is_authenticated %}
                        <p class="title">Добро пожаловать в Places Remember, {{user.first_name}} {{user.last_name}}</p>
                        <img class="user-image" src="{{photo.image.url}}" alt="">
                        <span class="login-btn"><a href="{% url 'logout' %}">Выйти</a></span>
                    {% else %}
                        <p class="title">Добро пожаловать в Places Remember</p>
                        <span class="login-btn"><a href="{% url 'social:begin' 'vk-oauth2' %}">Войти</a></span>
                    {% endif %}
                </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>